[submodule "Computer-Vision"]
	path = Computer-Vision
	url = https://github.com/HanzeRacingDivision/Computer-Vision.git
	branch = main

[submodule "Control"]
	path = Control
	url = https://github.com/HanzeRacingDivision/Control.git
	branch = main

[submodule "Emergency-System"]
	path = Emergency-System
	url = https://github.com/HanzeRacingDivision/Emergency-System.git
	branch = main

[submodule "Simulator"]
	path = Simulator
	url = https://github.com/HanzeRacingDivision/Simulator.git
	branch = main

