[submodule "Computer-Vision"]
	path = Modules/Computer-Vision
	url = https://github.com/HanzeRacingDivision/Computer-Vision.git
	branch = main

[submodule "Control"]
	path = Modules/Control
	url = https://github.com/HanzeRacingDivision/Control.git
	branch = main

[submodule "Emergency-System"]
	path = Modules/Emergency-System
	url = https://github.com/HanzeRacingDivision/Emergency-System.git
	branch = main

[submodule "Simulator"]
	path = Modules/Simulator
	url = https://github.com/HanzeRacingDivision/Simulator.git
	branch = main

