<launch>

    <!-- Enable robot visualization in rviz -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find put_odometry)/visualization/config.xacro'" />

    <!-- Start odometry converter -->
    <node pkg="put_odometry" name="convert" type="convert.py" output="screen" />

    <!-- Start map server -->
    <arg name="map_file" default="/shared/map_config.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- Run the EKF Localisation Node -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="/program/src/put_odometry/launch/config.yaml" />
    </node>

    <!-- Run the GPS conversion node -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
        <param name="magnetic_declination_radians" value="0" />
        <param name="yaw_offset" value="0" />
        <param name="zero_altitude" value="true" />
        <param name="broadcast_cartesian_transform" value="false" />
        <param name="publish_filtered_gps" value="false" />
        <param name="use_odometry_yaw" value="false" />
        <param name="wait_for_datum" value="false" />
        
        <remap from="/imu/data" to="/imu" />
        <remap from="/gps/fix" to="/gps" />
        <remap from="/odometry/filtered" to="/odometry/filtered" />
    </node>

    <!-- Start the rosbag -->
    <!-- <node pkg="rosbag" type="play" name="player" output="screen" args="/shared/fsds.bag"/> -->

    <!-- Start rviz -->
    <node pkg="rviz" name="rviz" type="rviz" args="-d /shared/config.rviz" />

</launch>
